h1 {
    font-family: "Cooper Black", sans-serif;

}

nav ul{
    background-color: #80ffcc;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

}

nav ul li{
    float: left;
    padding-bottom: 0px;
    padding-right: 0px;


}

a:link, a:visited {
    background-color: #80ffcc;
    color: #601f1f;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #e6fff5;
}

.image{
    padding: 400px 10%;
    margin: 50px;
    background-image: url("img/cat.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    vertical-align: middle;
}




#text{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
    font-size: 20px;
    text-align: center;

}

#left{
    font-family: "Comic Sans MS", sans-serif;
    font-size: 20px;
    width: 50%;
    padding: 50px ;
    margin: 100px;
    background-size: cover;
    background-position: left;
    display: block;
    vertical-align: middle;
}

.leftimage{
    float:right;
    vertical-align: middle;
    margin-top: 20px;
    padding: 100px;

}

.leftimage img {
    width: 800px;
    height: 500px;
}
#box{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 30px;
    padding: 4em 2em;
    font-size: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
    display: block;
    vertical-align: middle;
}

.container{
    margin: auto;
    max-width: 800px;
}

body{
    margin: 0;
    font-family: Comic Sans, Tahoma, sans-serif;
    width: 100%;
    background-color: #e6fff5;
}

footer{
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #80ffcc;
    color: #601f1f;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
    clear: both;
}